@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #137fec;
  
  --color-background-light: #f6f7f8;
  --color-background-video: #f6f7f8;
  --color-background-dark: #101922;

  --color-surface-light: #ffffff;
  --color-surface-dark: #1e2936;
}

@layer base {
  :root {
    --background: var(--color-background-light);
    --foreground: #0f172a; /* slate-900 */
  }

  :root[class~="dark"] {
    --background: var(--color-background-dark);
    --foreground: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased font-sans;
  }
}

/* Custom Scrollbar */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Base scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #94a3b8; /* Slate 400 */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* Slate 500 */
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-thumb {
    background: #374151; /* Gray 700 */
}
.dark ::-webkit-scrollbar-thumb:hover {
    background: #4B5563; /* Gray 600 */
}
